contexttimer
decord
diffusers
einops
fairscale
ftfy
iopath
ipython
omegaconf
opencv-python-headless
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
streamlit
timm
torch
torchvision
tqdm
transformers
webdataset
wheel
